* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 20px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #707070;
  line-height: 28px;
  margin-bottom: 20px;
}

.btn-style {
  background-color: #ff5959;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 550;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* Hero Section */
.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero-bg.png);
  width: 100%;
  height: 675px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
}

.hero-contents {
  width: 50%;
}

.hero-contents h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Donate Section */
.donate-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
}

.donate-contents {
  width: 50%;
}

.price-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-cards p {
  margin: 30px;
  padding: 50px 25px;
  font-size: 30px;
  font-weight: bold;
}

.selected {
  border: 3px solid #ff5959;
  border-radius: 7px;
  color: #ff5959;
  background-color: #ffeeee;
}

.input {
  color: #b3b3b3;
}

hr {
  color: #dadada;
  margin-bottom: 30px;
}

/* Donate Plan Section */

.donate-plan-contents {
  /* width: 50%; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 200px 200px;
}

.plan-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.food,
.shelter,
.education {
  margin: 20px;
  padding: 50px 30px;
  width: 360px;
}

.plan-cards p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.food {
  background-color: rgb(79, 157, 166, 10%);
}

.shelter {
  background-color: rgb(255, 89, 89, 10%);
}

.education {
  background-color: rgb(255, 244, 214, 80%);
}
